<template>
  <div><h1><%= componentName %></h1></div>
</template>

<script>
  export default {
    name: "<%= componentName %>",
    props: {}
  };
</script>

<style lang="scss" scoped src="./<%= componentName %>.scss"></style>
